flask
flask_sqlalchemy
gunicorn
setuptools>=79.0.1
wheel>=0.46.2
jaraco.context>=6.1.0
flask>=3.0
flask-sqlalchemy>=3.1
cloud-sql-python-connector[pymysql]>=1.7
pymysql>=1.1
sqlalchemy>=2.0
gunicorn>=22.0
pytest>=8.0
